<!-- Just copy and paste this file to your output folder and set the value for your data -->
<appSettings>
  <add key="AccountId" value="/* Add your value here */"/>
  <add key="SecretKey" value="/* Add your value here */"/>
  <add key="From" value="/* Add your value here */"/>
  <add key="To" value="/* Add your value here */"/>
</appSettings>